{% extends "base.html" %}
{% block title %}Thêm khách hàng{% endblock %}
{% block page_title %}Thêm khách hàng mới{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card p-3">
    <h5>Thông tin khách hàng</h5>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="mt-3">
        <button class="btn btn-primary" type="submit">Lưu khách</button>
        <a class="btn btn-secondary" href="{% url 'quanly:dat_phong' %}">Quay lại đặt phòng</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
